{% extends 'base.html' %}
{% block content %} 

<Style>
    .login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.login-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.btn-login {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-login:hover {
    background-color: #0056b3;
}

</Style>

<div class="login-container">
    <h3 class="login-title">Iniciar sesión</h3>
    <form method="post" class="login-form">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" name="username" placeholder="Nombre de usuario" class="form-input">
        </div>
        <div class="form-group">
            <input type="password" name="password" placeholder="Contraseña" class="form-input">
        </div>
        <button type="submit" class="btn-login">Iniciar sesión</button>
    </form>
</div>

{% endblock %}



